/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.npmrc
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.dusk.*
.env.testing
.DS_Store
.phpunit*
