.page-control-panel-index {
    .action-cards {
        margin-bottom: 20px;
    }

    .card-action {
        border: solid 1px $link-color;
        @include border-radius(2px);
        display: block;
        margin-bottom: 10px;
        padding: 30px 0;
    }
}
