.page-control-panel-index {
    .action-cards {
        margin-bottom: 30px;
    }
    .card-action {
        border: solid 1px $link-color;
        @include border-radius(2px);
        display: block;
        padding: 30px 0;
    }
}
