.footer {
    color: rgba(255, 255, 255, 1);
    padding: 20px;

    .img-guild-emblem, .img-wow-classic-logo {
        max-height: 150px;
    }

    .nav-item.no-link {
        padding: 0.5rem 1rem;
    }

    .cmtcloud-link,
    .footer-link,
    .nav-link {
        color: rgba(255, 255, 255, 0.5);
    }

    .footer-link:hover,
    .nav-link:hover {
        color: rgba(255, 255, 255, 0.75);
    }

    .cmtcloud-column {
        align-items: center;
        display: flex;
    }

    .cmtcloud-link:hover,
    .cmtcloud-period {
        color: #00AFA5;
    }

    .cmtcloud-logo {
        margin: 1rem 0;
    }
}
