.navbar-brand {
    .home-icon {
        visibility: hidden;
    }

    &:hover .home-icon {
        visibility: visible;
    }
}
.nav-icon {
    margin-right: 0.25rem;
}
.nav-item {
    span.badge {
        margin-left: 0.5rem;
        vertical-align: text-bottom;
    }
    .dropdown-item:hover,
    .dropdown-item:focus {
        background-color: lighten($brown, 5%);
    }
    .dropdown-divider {
        border-top-color: lighten($brown, 20%);
    }
}
.nav-pills.nav-scrollspy .nav-link {
    &.active {
        background-color: $secondary;
    }
}
