
// Body
$body-bg: #231a13;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colours
$primary: #f8b700;
$secondary: #504137;
$brown: #231a13;

$theme-colors: () !default;

$theme-colors: map-merge(
    (
        "primary": $primary,
        "secondary": $secondary,
        "brown": $brown
    ),
    $theme-colors
);

// Links
$link-hover-decoration: none;
