
// Colours
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$brown: #231a13;
$browns: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$browns: map-merge(
    (
        "100": lighten($brown, 10%),
        "200": lighten($brown, 20%),
        "300": lighten($brown, 30%),
        "400": lighten($brown, 40%),
        "500": lighten($brown, 50%),
        "600": lighten($brown, 60%),
        "700": lighten($brown, 80%),
        "800": lighten($brown, 80%),
        "900": lighten($brown, 90%)
    ),
    $browns
);

@each $color, $value in $browns {
    @include bg-variant('bg-brown-#{$color}', $value);
}

$primary: #f8b700;
$secondary: #504137;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
    (
        "primary":   $primary,
        "secondary": $secondary,
        "brown":     $brown
    ),
    $theme-colors
);

// Body
//
// Settings for the `<body>` element.
$body-bg: #231a13;
$body-color: $white;

// Links
//
// Style anchor elements.
$link-hover-decoration: none;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-size-md: 1.125rem;

$font-family-sans-serif: "Raleway";

$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem;
$spacers: (
  6: ($spacer * 6),
  7: ($spacer * 10)
);

// @todo organise
$border-color: $secondary;
$breadcrumb-bg: transparent;
$card-bg: transparent;
$card-border-color: $secondary;
$close-color: $white;
$input-bg: $brown;
$input-border-color: $secondary;
$input-color: $white;
$input-disabled-bg: $brown;
$input-group-addon-bg: $secondary;
$input-group-addon-color: $white;
$list-group-action-hover-color: $white;
$list-group-bg: $brown;
$list-group-border-color: $secondary;
$list-group-color: $white;
$list-group-hover-bg: $secondary;
$modal-content-bg: $brown;
$table-color: $white;
$table-color-conditional: $black;
