.class-icons, .race-icons {
    .class-icon, .race-icon {
        border: solid 3px transparent;
        border-radius: 3px;
        box-sizing: content-box;
        height: 56px;
        object-fit: none;
        width: 56px;

        &.active {
            border-color: $primary;
        }

        &.class-icon-druid {
            object-position: 0 0;

            &.class-icon-closed {
                object-position: 0 66px;
            }
        }

        &.class-icon-hunter {
            object-position: -66px 0;

            &.class-icon-closed {
                object-position: -66px -66px;
            }
        }

        &.class-icon-mage {
            object-position: -132px 0;

            &.class-icon-closed {
                object-position: -132px -66px;
            }
        }

        &.class-icon-paladin {
            object-position: -198px 0;

            &.class-icon-closed {
                object-position: -198px -66px;
            }
        }

        &.class-icon-priest {
            object-position: -264px 0;

            &.class-icon-closed {
                object-position: -264px -66px;
            }
        }

        &.class-icon-rogue {
            object-position: -330px 0;

            &.class-icon-closed {
                object-position: -330px -66px;
            }
        }

        &.class-icon-warlock {
            object-position: -396px 0;

            &.class-icon-closed {
                object-position: -396px -66px;
            }
        }

        &.class-icon-warrior {
            object-position: -462px 0;

            &.class-icon-closed {
                object-position: -462px -66px;
            }
        }

        &.race-icon-human {
            object-position: 0 0;

            &.race-icon-closed {
                object-position: 0 66px;
            }
        }

        &.race-icon-dwarf {
            object-position: -66px 0;

            &.race-icon-closed {
                object-position: -66px -66px;
            }
        }

        &.race-icon-night-elf {
            object-position: -132px 0;

            &.race-icon-closed {
                object-position: -132px -66px;
            }
        }

        &.race-icon-gnome {
            object-position: -198px 0;

            &.race-icon-closed {
                object-position: -198px -66px;
            }
        }
    }
}
