.class-icons, .race-icons {
    .class-icon, .race-icon {
        border: solid 3px transparent;
        border-radius: 3px;
        box-sizing: content-box;
        height: 56px;
        object-fit: none;
        width: 56px;

        &.class-icon-xs, &.race-icon-xs {
            height: 28px;
            object-fit: none;
            width: 28px;
        }

        &.active {
            border-color: $primary;
        }

        &.class-icon-druid, &.class-icon-11 {
            object-position: 0 0;

            &.class-icon-closed {
                object-position: 0 66px;
            }
        }

        &.class-icon-hunter, &.class-icon-3 {
            object-position: -66px 0;

            &.class-icon-closed {
                object-position: -66px -66px;
            }
        }

        &.class-icon-mage, &.class-icon-8 {
            object-position: -132px 0;

            &.class-icon-closed {
                object-position: -132px -66px;
            }
        }

        &.class-icon-paladin, &.class-icon-2 {
            object-position: -198px 0;

            &.class-icon-closed {
                object-position: -198px -66px;
            }
        }

        &.class-icon-priest, &.class-icon-5 {
            object-position: -264px 0;

            &.class-icon-closed {
                object-position: -264px -66px;
            }
        }

        &.class-icon-rogue, &.class-icon-4 {
            object-position: -330px 0;

            &.class-icon-closed {
                object-position: -330px -66px;
            }
        }

        &.class-icon-warlock, &.class-icon-9 {
            object-position: -396px 0;

            &.class-icon-closed {
                object-position: -396px -66px;
            }
        }

        &.class-icon-warrior, &.class-icon-1 {
            object-position: -462px 0;

            &.class-icon-closed {
                object-position: -462px -66px;
            }
        }

        &.race-icon-human, &.race-icon-1 {
            object-position: 0 0;

            &.race-icon-closed {
                object-position: 0 66px;
            }
        }

        &.race-icon-dwarf, &.race-icon-3 {
            object-position: -66px 0;

            &.race-icon-closed {
                object-position: -66px -66px;
            }
        }

        &.race-icon-night-elf, &.race-icon-4 {
            object-position: -132px 0;

            &.race-icon-closed {
                object-position: -132px -66px;
            }
        }

        &.race-icon-gnome, &.race-icon-7 {
            object-position: -198px 0;

            &.race-icon-closed {
                object-position: -198px -66px;
            }
        }
    }
}
