
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Navbar
@import 'navbar';

// Character Select
@import 'character_select';

// Footer
@import 'footer';

#app {
    // display: flex;
    min-height: calc(100vh - 54px);
}
a:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.full-height {
    min-height: 100vh;

    &:first-of-type {
        min-height: calc(100vh - 54px);
    }
}
.extra-padding-top {
    padding-top: 50px;
}
.extra-padding-bottom {
    padding-bottom: 50px;
}
.bg-dark-portal {
    background-color: #636b6f;
    background-image: url('../images/bg_darkportal.jpg');
    background-position: center;
    background-size: cover;
}
.bg-goldshire {
    background-image: url('../images/bg_goldshire.jpg');
    background-position: center;
    background-size: cover;
}
.bg-garrison {
    background-color: #636b6f;
    background-image: url('../images/bg_garrison.jpg');
    background-position: center;
    background-size: cover;
}
.bg-guildshot-side {
    background-color: #636b6f;
    background-image: url('../images/bg_guildshot_side.jpg');
    background-position: center;
    background-size: cover;
}
.bg-kitty-meeting {
    background-color: #636b6f;
    background-image: url('../images/bg_kitty_meeting.jpg');
    background-position: center;
    background-size: cover;
}
.welcome-home {
    align-items: center;
    display: flex;
    justify-content: center;

    .content {
        text-align: center;
    }
}
.officers-card {
    align-items: center;
    display: flex;
    // justify-content: center;
    margin: 20px 0;

    .officers-card-body {
        padding-left: 20px;
    }
}
