// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import 'variables';

// Bootstrap
//
// Load the remainder of the Bootstrap framework now...
@import '~bootstrap/scss/bootstrap';

// Post-Bootstrap
//
// These functions need to be run after Bootstrap has fully loaded...
@each $color, $value in $browns {
    @include bg-variant('bg-brown-#{$color}', $value);
}

// Full calendar
//
// These are the required SASS files for the FullCalendar plugin...
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/list/main.css';
@import '~@fullcalendar/bootstrap/main.css';
@import '~vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';

a:hover {
    border-color: $link-hover-color !important;
}

// Alignment
.v-align-center {
    align-items: center;
    display: flex;
}

.v-align-bottom {
    align-items: flex-end;
    display: flex;
}

.z-index-1 {
    z-index: 101;
}

.z-index-2 {
    z-index: 102;
}

.z-index-3 {
    z-index: 103;
}
// TODO: move to component file
.breadcrumb {
    background: $brown;
    border: solid 1px $breadcrumb-divider-color;
}

.btn.btn-icon {
    min-width: 41px;
    min-height: 41px;
}
@include media-breakpoint-only(xs) {
  .btn-block-xs-only {
    display: block;
    width: 100%;
  }
}

// Components
@import 'background';
@import 'height';
@import 'modal';
@import 'navbar';
@import 'pagination';
@import 'scrollspy';
@import 'tables';
@import 'type';
@import 'warcraft_icons';

// Pages
//
// TODO: eliminate these where possible, instead rely on standardised CSS
// elements
@import 'home'; // keep
@import 'news_editor';
